<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Home</title>

<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}" src="../../static/js/jquery-3.6.0.min.js" ></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"    src="../../static/js/bootstrap.min.js" ></script> 

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/> 
<link rel="stylesheet" th:href="@{/css/all.css}"/>

</head>
<body>

<section layout:fragment="content">

    <div class="row">
         
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">CADASTRAR CLIENTE</h4>
                    <form class="form-sample" th:object="${cliente}" action="#" th:action="@{/pages/cadastrar-cliente}" method="post">
                        <p class="card-description">
                            Informações Pessoais
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="nome" class="col-sm-3 col-form-label">Nome</label>
                                    <div class="col-sm-9">
                                        <input id="nome" th:field="*{nome}"  type="text" class="form-control" th:errorclass="is-invalid" />
                                        <div class="invalid-feedback" th:errors="*{nome}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Sexo</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                            <option>Masculino</option>
                                            <option>Feminino</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Telefone</label>
                                    <div class="col-sm-9">
                                        <input type="text" th:field="*{telefone}" class="form-control" th:errorclass="is-invalid"/>
                                        <div class="invalid-feedback" th:errors="*{telefone}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">E-mail</label>
                                    <div class="col-sm-9">
                                      <div class="input-group-prepend">
                                       <div class="input-group-text">@</div>
                                         <input type="text" th:field="*{email}"  class="form-control" th:errorclass="is-invalid" />
                                       <div class="invalid-feedback" th:errors="*{email}"></div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="card-description">
                            Informações Endereço
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="cep" class="col-sm-3 col-form-label">Cep</label>
                                    <div class="col-sm-9">
                                        <input id="cep" type="text" th:field="*{endereco.cep}"  class="form-control" th:errorclass="is-invalid" required="required" maxlength="9" />
                                       <div class="invalid-feedback" th:errors="*{endereco.cep}"></div> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label  for="bairro" class="col-sm-3 col-form-label">Bairro</label>
                                    <div class="col-sm-9">
                                        <input id="bairro" type="text" th:field="*{endereco.bairro}" class="form-control" readonly="readonly" />
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label  for="complemento" class="col-sm-3 col-form-label">Complemento</label>
                                    <div class="col-sm-9">
                                        <input  id="complemento" type="text" th:field="*{endereco.complemento}" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="logradouro"  class="col-sm-3 col-form-label">Logradouro</label>
                                    <div class="col-sm-9">
                                        <input id="logradouro"  type="text" th:field="*{endereco.logradouro}" class="form-control" readonly="readonly"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                     <div class="container my-4 text-center">
						<button type="submit" class="btn btn-success mr-2">NOVO</button>
						<a class="btn btn-danger" th:href="@{/pages/dashboard}" role="button">CANCELAR<i class="fab fa-github"></i></a>
					</div>  
                     
                    </form>

                        <script type="text/javascript" th:src="@{/js/script-cep.js}" src="../../static/js/script-cep.js"></script> 

					</div>
            </div>
        </div>
        
    </div>

</section>
</body>
</html>