<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
<title>Home</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
$(document).ready(function(){
  $("#clickDiv").click(function(){
    $("#clickDiv").fadeOut("slow");
  });
});
</script>

</head>
<body>
	<section layout:fragment="content">

		<div class="row">
			<div class="col-lg-12 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						
						<div id="clickDiv" class="alert alert-primary" role="alert" th:text="${message}" th:if="${message}"></div>
						
						<h4 class="card-title">CLIENTES CADASTRADOS</h4>

						<a href="cadastrar-cliente">
							<button id="cadastrar" type="button" class="btn btn-primary">NOVO</button>
						</a>
                         
                        <br> 

						<div class="table-responsive">
							<table class="table table-bordered table table-hover text-center table table table-sm">
								<thead>
									<tr>
										<th>NOME</th>
										<th>ENDEREÇO</th>
										<th>TELEFONE</th>
										<th>E-MAIL</th>
										<th>AÇÕES</th>
									</tr>

								</thead>
								<tbody>

									<tr th:each="cliente: ${clientes}">

										<td th:text="${cliente.nome}" />
										<td th:text="${cliente.endereco}" />
										<td th:text="${cliente.telefone}" />
                                        <td th:text="${cliente.email}" />
										<td>
											<div class="text-center">

												<a href="#EDITAR"><button id="editar" type="button" class="btn btn-warning">EDITAR</button> </a> 
												<a href="#EXCLUIR"><button id="excluir" type="button" class="btn btn-danger">EXCLUIR</button> </a>

											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>
